$verde-escuro-textos: #02323C;      
$verde-titulos: #307060;
$verde-principal: #66B284;    
$verde-claro: #CCFAE4;       

$fundo-padrao: #D9D9D9;      
$cinza-detalhe: #C2C2C2;       
$branco: #FFFFFF;
$preto: #000000;

$verde-semi-escuro: #054C44;
$verde-menos-escuro: #1E7161;
$verde-menos-claro: #3B9059;
$verde: #59A47D;

$fonte-principal: 'Poppins', sans-serif;

$sombra-card: 0 2px 10px rgba(0, 0, 0, 0.1);
$sombra-botao: 0 1px 3px rgba(0, 0, 0, 0.1);

$borda-pouco-arredondada: 5px;
$borda-arredondada: 10px;
$borda-mais-arredondada: 15px;
$borda-ultra-arredondada-botao: 20px;